.wrapper {
  background: orange;
  padding: 10px;
}

.main-head {

}

/* Mobile Layout */

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  "header"
  "nav"
  "content"
  "sidebar"
  "ad"
  "footer";
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul li {
  background: green;
  width: 100%;
  margin-left: -10px;
  margin-bottom: 2px;
}

.main-nav ul li a {
  background: none;
  color: #fff;
  text-decoration: none;
}

.main-nav ul li.active {
  background: purple;
}

.main-nav ul li:hover {
  background: pink;
}

.main-nav ul li:hover a {
  color: purple;
}
