body {
  background: white;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.company {
  color: red;
}

.heading {
  color: orange;
}

.bullet {
  background: lightblue;
  width: 1000px;
  height: 150px;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
}

.work {
  background: lightblue;
  width: 1000px;
  height: 70px;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
}

.wdes {
  font-style: italic;
  color: darkorange;
}

#name {
  color: blue;
}

#major {
  color: maroon;
}

h1:hover {
  background-color: yellow;
}

h1 {
  font-family: 'Bitter', serif;
}
