/* Mobile Layout */


.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-areas:
    "header"
    "main-nav"
    "row"
    "content"
    "left"
    "right";
}


/* tablet layout */

@media (min-width: 500px) {
.wrapper {
  display: grid;
  grid-template-columns: 3fr 0fr;
  grid-template-rows: 0fr 0fr;
  grid-template-areas:
    "header  header"
    "nav     nav"
    "row     row"
    "content content"
    "left    right";
}


/* Desktop layout */


@media (min-width: 700px) {
.wrapper {
  grid-template-columns: 1fr 0fr 1fr;
  grid-template-areas:
    "header header  header"
    "nav    content sidebar"
    "nav    content ad"
    "footer footer  footer"
 }
