.main-head {
  grid-area: header;
}

.main-head h1{
  background-color: black;
  font-size: 40px;
  /* font-family: cursive; */
  color: white;
  text-align: center;
  margin: 0px;
  padding: 5px
}

.main-nav {
  grid-area: nav;
  background: black;
  text-align: center;
  margin-top: 0px;
  padding: 5px;
}

.main-nav a {
  background: black;
  /* width: 15%; */
  /* display: inline-block; */
  padding: 5px;
  text-decoration: none;
  color: white;
}

.main-nav a:hover {
  background: white;
  color: black;
  padding: 5px;
}
